<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>49er Marketplace - One place for all your needs | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="shop"><img src="img/core-img/logo49er.jpg" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="shop"><img src="img/core-img/logo49er.jpg" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>

                    <li class="active"><a href="shop">Products</a></li>
                    <li><a href="sell">Sell</a></li>
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <a href="SellNew" class="btn amado-btn mb-15">Post an Ad</a>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="#" class="search-nav"><img src="img/core-img/search.png" alt=""> Search</a>
            </div>
        </header>
        <!-- Header Area End -->

        <div class="shop_sidebar_area">

            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Categories</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                        <li><a href="shop?product_category=chair">Chairs</a></li>
                        <li><a href="shop?product_category=Table">Tables</a></li>
                        <li><a href="shop?product_category=mattresses">Mattresses</a></li>
                        <li><a href="shop?product_category=furniture">Furnitures</a></li>
                        <li><a href="shop?product_category=Phone Accessory">Phone Accessories</a></li>
                        <li><a href="shop?product_category=Home Decor">Home Decors</a></li>
                        <li><a href="shop?product_category=Automobile">Automobiles</a></li>
                        <li><a href="shop?product_category=Book">Books</a></li>
                        <li><a href="shop?product_category=Electronics">Electronics</a></li>
                        <li><a href="shop?product_category=Apartment">Apartments</a></li>
                    </ul>
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget brands mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Location</h6>

                <div class="widget-desc">
                    <!-- Single Form Check -->
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="amado">
                        <label class="form-check-label" for="amado">UT</label>
                    </div>
                    <!-- Single Form Check -->
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ikea">
                        <label class="form-check-label" for="ikea">UT North</label>
                    </div> -->
                    <!-- Single Form Check -->
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="furniture">
                        <label class="form-check-label" for="furniture">Ashford</label>
                    </div> -->
                    <!-- Single Form Check -->
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="factory">
                        <label class="form-check-label" for="factory">Colonial Grand</label>
                    </div> -->
                    <!-- Single Form Check -->
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="artdeco">
                        <label class="form-check-label" for="artdeco">On Campus</label>
                    </div>  -->
                    <div class="catagories-menu">
                        <ul>
                            <li><a href="shop?location=UT">UT</a></li>
                            <li><a href="shop?location=UT North">UT North</a></li>
                            <li><a href="shop?location=Ashford">Ashford</a></li>
                            <li><a href="shop?location=Colonial Grand">Colonial Grand</a></li>
                            <li><a href="shop?location=On Campus">On Campus</a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- ##### Single Widget ##### -->

        </div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                      <div style="float:right; font-size: 110%">
                            <p style = "font-size: =110%;">Hello!
                              <a href="sign-in">
                            <input type="submit" value="Sign Out" />
                          </a>
                            </p>
                          </div>
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->

                            <!-- Sorting -->

                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Product Area -->
                  <%  for(i=0; i< products.length; i++){ %>
                    <div class="col-12 col-sm-6 col-md-12 col-xl-3">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="<%= products[i].main_image %>" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="<%= products[i].image_1 %>" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">$ <%= products[i].price%></p>
                                    <a href="product-details?product_code=<%=products[i].prod_code%>">
                                        <h6><%= products[i].prod_name%></h6>
                                    </a>
                                </div>

                                <!-- Ratings & Cart -->

                            </div>

                        </div>
                    </div>
                <%  } %>
                </div>



                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">

                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">


                                        <li class="nav-item">
                                            <a class="nav-link" href="shop">Products</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="sell">Sell</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>
